[Unit]
Description=LightsOn
After=network.target
StartLimitIntervalSec=0

[Service]
User=pi
Group=www-data
Restart=always
RestartSec=1
WorkingDirectory=/home/pi/flask_apps/lightsonapp
ExecStart=python3 lightsonapp.py

[Install]
WantedBy=multi-user.target
