@font-face {
    font-family: 'droid_sansregular';
    src: url('droidsans-webfont.woff2') format('woff2'),
         url('droidsans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neucharegular';
    src: url('neucha-regular-webfont.woff2') format('woff2'),
         url('neucha-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

html {
    width: 97vw;
    /*overflow-x: hidden;*/
}

body {
    width: 97vw;
    font-family: 'droid_sansregular', Arial, sans-serif;
}

#logo-container {
    width: 60%;
    padding-left: 19%;
    padding-right: 20%;
    margin-top: 30px;
}

#spl-logo {
    width: 99%;
}

#info-container {
    width: 80%;
    margin-left: 10%;
}

#lightson-info-tile {
    width: calc(100% - 40px);
    padding: 10px 20px 20px 20px;
    background-color: rgba(81,99,107,0.2);
    color: black;
    font-family: 'droid_sansregular', Arial, sans-serif;
    text-align: justify;
    display: block;
    overflow: hidden;
    background-color: #f1f1f1;
}

#lightson-info-button {
    background-color:rgba(81,99,107,0.6);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#welcome_msg {
    width: calc(100% - 40px);
    padding: 10px 20px 20px 20px;
    font-weight: 500;
    color: white;
    background-color: rgba(91,51,147);
    text-align: justify;
    font-size: 18px;
}

#info_msg {
    width: calc(80% - 20px);
    margin-top: 20px;
    margin-left: calc(10% - 10px);
    padding: 10px 20px 20px 20px;
    font-weight: 500;
    color: white;
    background-color: rgba(91,51,147);
    text-align: justify;
    font-size: 18px;
}

a {
    color: rgba(151,202,61);
}

#ctrls-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

#add-to-queue-large {
    width: 100%;
    height: 160px;
    border-width: 0px;
    background-color:  rgba(0,160,221);
    color: white;
    font-size:72px;
    font-weight: 800;
}

#add-to-queue {
    width: 50%;
    height: 80px;
    margin-left: 25%;
    margin-top: 20px;
    border-radius: 2px;
    border-color: black;
    border-width: 2px;
    background-color:  rgba(0,160,221);
    color: white;
    font-size:36px;
    font-weight: 600;
}

#leave-bttn {
    width: 30%;
    height: 40px;
    margin-left: 35%;
    border-radius: 2px;
    border-color: black;
    border-width: 2px;
    background-color:  rgb(129, 0, 0);
    color: white;
    font-size:24px;
    font-weight: 400;
}

#footer {
    float: left;
    width: 100%;
    text-align: center;
    color: rgb(240,240,240);
    padding-top: 20px;
}

#clock-container {
    width: 60%;
    margin-left: calc(20% - 10px);
    padding: 10px;
    background-color: black;
    border-radius: 12px;
    border-color: black;
}

#clock {
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    color: rgba(151,202,61);
    font-size: 64px;
}

#button-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

.effect-button {
    width: calc(100% - 20px);
    height: 100px;
    border-radius: 14px;
    border-color: rgb(220,220,220);
    border-width: 2px;
    border-style: solid;
    background-color: rgba(0,160,221,0.1);
    margin-bottom: 20px;
}

.effect-button:active {
    background-color: rgba(0,160,221,0.6);
}

.effect-img {
    float: left;
    width: 100px;
}

#effect-title {
    width: calc(100% - 40px);
    color: rgba(0,160,221);
    font-size: 36px;
    font-family: 'neucharegular', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.effect-name {
    width: calc(80% - 110px);
    height: 40px;
    margin-top: 24px;
    margin-bottom: 0px;
    float: left;
    font-family: 'neucharegular', Arial, sans-serif;
    font-size: 36px;
    color: rgba(91,51,147);
    padding-left: 20px;
}

.effect-name-2 {
    width: calc(80% - 110px);
    height: 40px;
    margin-top: 6px;
    margin-bottom: 0px;
    float: left;
    font-family: 'neucharegular', Arial, sans-serif;
    font-size: 36px;
    color: rgba(91,51,147);
    padding-left: 20px;
}