<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Lights On!</title>

  </head>

  <body>

    <div>
     <!-- <img src="{{url_for('static', filename='menu.png')}}" alt="menu" id="menu-icon">  -->
      <p id="menu-title">Index</p>
      {% if in_progress %}
        <a href="http://{{ self_ip }}:5000/ledctrl">Continue Session</a>
        <br><br>
        <a href="http://{{ self_ip }}:5000/end">End Session</a>
      {% else %}
          <a href="http://{{ self_ip }}:5000/addtoqueue">Add to queue</a>
      {% endif %}
    </div>

  </body>

</html>