<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Lights On!</title>

  </head>

  <body>

    <div>
      <div id="logo-container">
        <img src="{{url_for('static', filename='SPL_logo.png')}}" alt="menu" id="spl-logo">
      </div>

      <div id="info-container">
        <button type="button" id="lightson-info-button">Lights On Stratford</button>
        <div id="lightson-info-tile">
          <p>Lights On Stratford winter festival of lights will transform the downtown core with luminous art and interactive light installations. Lights On Stratford harnesses some of the world's best artists, lighting designers, props builders, and creative minds to craft a truly unique experience that can't be found anywhere else. Prepare to be dazzled.</p>
          <a style="color: rgba(91,51,147);" href="https://lightsonstratford.ca/">Lights On Stratford Website</a>
        </div>

        {% if in_time %}
          <div id="welcome_msg">
            <p>Welcome to the interactive light display at the Stratford Public Library.</p>
            <p>To start interacting, press the GO! button below.</p>
            <p>If someone is already interacting with this display, you will be added to the queue. Each person gets 5 minutes.</p>
            <p>To try one of the other displays, click <a href="https://stratford.library.on.ca/lightson">Here</a></p>
          </div>
        {% else %}
          <div id="welcome_msg">
            <p>Welcome to the interactive light display at the Stratford Public Library.</p>
            <h1 style="text-align: center;">Sorry!</h2>
            <p>The interactive light display is only available from 5PM to 11PM.</p>
          </div>
        {% endif %}
      </div>

      <div id="ctrls-container">
        {% if in_time %}
          {% if in_progress %}
            <button id="session-bttn" onclick="document.location='http://{{ self_ip }}{{ self_port }}/ledctrl'">Resume Session</button>

            <button id="session-bttn" onclick="document.location='http://{{ self_ip }}{{ self_port }}/end'">End Session</button>
          {% else %}
            <button id="add-to-queue-large" onclick="document.location='http://{{ self_ip }}{{ self_port }}/addtoqueue'">GO!</button>
          {% endif %}
        {% endif %}
      </div>

    </div>

    <div id="footer">
      <p>Matthew Hengeveld 2020</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <!-- <script src="{{ url_for('static', filename='ledctrl.js') }}"></script> -->

    <script>
      
      document.addEventListener('DOMContentLoaded', () => {
        
        $("#lightson-info-tile").hide();

      });

      $("#lightson-info-button").click(function() {
        console.log("toggle!");
        $("#lightson-info-tile").toggle(100);
      });

    </script>

  </body>

</html>