<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reinvented-color-wheel@0.1.6/css/reinvented-color-wheel.min.css">
    <script src="https://cdn.jsdelivr.net/npm/reinvented-color-wheel@0.1.6"></script>>

    <title>Lights On!</title>

  </head>

  <body>

    <div>
      <div id="logo-container">
        <img src="{{url_for('static', filename='SPL_logo.png')}}" alt="menu" id="spl-logo">
      </div>
      
      <div id="info_msg">
        {% if dmx == 0 %}
          <p>Tap the buttons below to change the LED effect displayed.</p>
        {% endif %}
        {% if dmx == 1 %}
          <p>Tap the buttons below to change the light routine displayed.</p>
        {% endif %}
        <p>Some effects have options, such as speed.</p>

        <p><center>Time remaining:</center></p>
        <div id="clock-container">
          <div id="clock" style="color: rgb(230,0,0);"></div>
        </div>
        <p>To give someone else a turn, click "leave".</p>
        <button id="leave-bttn" onclick="document.location='http://{{ self_ip }}{{ self_port }}/end'">Leave</button>
        <br>
        <p>If you want to <b>stop controlling this display</b> and choose another display, click <a href="http://{{ self_ip }}{{ self_port }}/chooseanother">Here</a></p>
      </div>

      {% if dmx == 0 %}
      <div id="button-container">
        <p id="effect-title">Interactive</p>

        <div class="effect-button" alt="Colour Picker" onclick="display_effect('STREAM'); panel_open('color-picker')">
          <img src="{{url_for('static', filename='icons/pick.png')}}" class="effect-img">
          <p class="effect-name">Colour Picker</p>
        </div>

        <div class="color-picker" id="color-picker"></div>

      </div>
      <div id="button-container">
        <p id="effect-title">Effects</p>

        <div class="effect-button" alt="Fade In" onclick="display_effect('FADEIN')">
          <img src="{{url_for('static', filename='icons/fadeIn.png')}}" class="effect-img">
          <p class="effect-name-2">Rainbow Fade-In</p>
        </div>

        <div class="effect-button" alt="Rainbow" onclick="display_effect('RAINBOW')">
          <img src="{{url_for('static', filename='icons/rainbow.png')}}" class="effect-img">
          <p class="effect-name">Rainbow</p>
        </div>

        <div class="effect-button" alt="Chase" onclick="display_effect('CHASE')">
          <img src="{{url_for('static', filename='icons/chase.png')}}" class="effect-img">
          <p class="effect-name">Chase</p>
        </div>

        <div class="effect-button" alt="Dual Chase" onclick="display_effect('DUALCHASE')">
          <img src="{{url_for('static', filename='icons/dualchase.png')}}" class="effect-img">
          <p class="effect-name">Dual Chase</p>
        </div>

        <div class="effect-button" alt="Triple Chase" onclick="display_effect('TRIPLECHASE')">
          <img src="{{url_for('static', filename='icons/triplechase.png')}}" class="effect-img">
          <p class="effect-name">Triple Chase</p>
        </div>

        <div class="effect-button" alt="Theatre Chase" onclick="display_effect('THEATRE')">
          <img src="{{url_for('static', filename='icons/theatreChase.png')}}" class="effect-img">
          <p class="effect-name-2">Theatre Chase</p>
        </div>

        <div class="effect-button" alt="Build Up/Down" onclick="display_effect('BUILDUPDOWN')">
          <img src="{{url_for('static', filename='icons/build.png')}}" class="effect-img">
          <p class="effect-name-2">Build Up/Down</p>
        </div>

      </div>
      {% endif %}

      {% if dmx == 1 %}
      <div id="button-container">
        <p id="effect-title">Routines</p>

        <div class="effect-button" alt="Colours!" onclick="display_effect('ROUTINE1')">
          <img src="{{url_for('static', filename='icons/colours1.png')}}" class="effect-img">
          <p class="effect-name">Colours!</p>
        </div>

      </div>
      {% endif %}

    </div>

    <div id="footer">
      <p>Matthew Hengeveld 2020</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <!-- <script src="{{ url_for('static', filename='ledctrl.js') }}"></script> -->

    <script>
          
      // var ledctrl_socket = new WebSocket('ws://192.168.0.41:31415/ledctrl');
      var ledctrl_socket = new WebSocket('ws://{{ self_ip }}:31415/ledctrl');

      // user and sessions variables from flask
      var user_uuid = '{{ user_uuid }}';
      var user_ip = '{{ user_ip }}';
      var time_left = parseInt("{{ time_wait }}");

      // color picker
      var colorWheel = null;
      var time_updated = 0;

      // convert time to string with :
      function time_to_str(time) {
        var time_left_s = time_left % 60;
        var time_left_m = (time_left - time_left_s) / 60;
        if (time_left_s < 10) {
          return time_left_m.toString() + ":0" + time_left_s.toString();
        } else {
          return time_left_m.toString() + ":" + time_left_s.toString();
        }
      }

      // set clock to display time left
      $("#clock").html(time_to_str(time_left));

      // update clock every second
      setInterval(() => {
        time_left--;

        $("#clock").html(time_to_str(time_left));

        if (time_left < -5) {
          window.location.replace("http://{{ self_ip }}{{ self_port }}/end");
        }
      }, 1000);

      // on page load
      document.addEventListener('DOMContentLoaded', () => {

        // Connect to Socketio
        var flask_socket = io.connect('http://{{ self_ip }}{{ self_port }}');

        // When connected
        // flask_socket.on('connect', () => {
        //     console.log("Connecting to flask");
        // });

        // check time elapsed with server every second
        setInterval(() => {
          flask_socket.emit('check', {'message':'none'});
        }, 1000);

        // socketio check event handler
        function check_handler(data) {
          msg = JSON.parse(data);
          if (msg.check_result == true) {
            window.location.replace("http://{{ self_ip }}{{ self_port }}/end");
          }
        }

        // set check event handler
        flask_socket.on('check_result', check_handler)

        colorWheel = new ReinventedColorWheel({
          appendTo: document.getElementById("color-picker"),
          hsv: [0, 100, 80],
          // appearance
          wheelDiameter: 300,
          wheelThickness: 40,
          handleDiameter: 32,
          wheelReflectsSaturation: false,

          // handler
          onChange: function (color) {
            msg = {"CMD":"STREAM", "uuid":user_uuid, "IP":user_ip, "Data":[color.hsv[0], color.hsv[1], color.hsv[2]] }
            ledctrl_socket.send(JSON.stringify(msg));
          }
        });

      });

      // if time has elapsed and server has not signalled, exit anyways
      setInterval(() => {

        if (time_left < -5) {
          window.location.replace("http://{{ self_ip }}{{ self_port }}/end");
        }
      }, 1000);

      // on websocket connection with led control
      // ledctrl_socket.onopen = function(event) {
      //   console.log('Connected.');
      // };

      // on websocket error
      // ledctrl_socket.onerror = function(error) {
      //   console.log('WebSocket error: ' + error);
      // };

      // send display effect command to led control
      function display_effect(effect_cmd) {
        if (effect_cmd == 'STREAM') {
          msg = {"CMD":effect_cmd, "uuid":user_uuid, "IP":user_ip, "Data":[0,100,100]}
          ledctrl_socket.send(JSON.stringify(msg));
        } else {
          msg = {"CMD":effect_cmd, "uuid":user_uuid, "IP":user_ip}
          ledctrl_socket.send(JSON.stringify(msg));
        }
        
      }

      // panels
      $("#color-picker").hide();

      function panel_open(panel_id) {
        $("#" + panel_id).toggle(100);
      }

    </script>

  </body>

</html>