<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Lights On!</title>

  </head>

  <body>

    <div>
      <!-- <img src="{{url_for('static', filename='menu.png')}}" alt="menu" id="menu-icon"> -->
       <p id="menu-title">QUEUE</p>
       <p>Sorry, the queue for this window is currently full. Please try again in {{ wait_time }} seconds.</p>
       <button onclick="document.location='http://{{ self_ip }}:5000/addtoqueue'">Try Again</button>
     </div>

  </body>

</html>